html, body {
    scroll-behavior: smooth;
}


/* 상단바 */

.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}

.menu li a {
    color: #000000;  /* 수정해야함 */
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
} 


/* page 1 */

.one {
    height: 550px;           
    display: flex;
    flex-direction: column;  /* Flex 컨테이너 안의 아이템들을 열 방향 배치 */
    justify-content: center; /* 열 방향으로 가운데 정렬 */
    align-items: flex-start; /* 교차 축 방향으로 시작부분에 정렬 */
    padding-left: 200px;

    /* 브라우저 화면 크기를 조절해도 이미지가 화면에 꽉차게 지정 */
    background: url(home.jpg) no-repeat center; 
    height: 100vh;
    background-size: cover;
}

.one h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;    
    margin: 0;    
    min-height: 120px;   /* 최소 높이를 설정하여 초기화 시 높이 유지 */
}

.one p {
    margin: 50px;    
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 150px;
}


/* page 2 */

.two {
    background-color: #EBFBFF;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 130px;
}

.profile {
    border-radius: 20%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(235, 251, 255, 0.1);
    border: 2px solid rgb(147, 218, 255, 0.5);
}

.profile img {
    border-radius: 20%;
}

.intext {
    float: right;
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 70px;
}

.intext strong {
    font-size: 30px;
}


/* page 3 */

.three {
    background-color: #F0FFF0;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 130px;
}

.three h1 {
    text-align: center;
}

.lists{
    text-align: center;
    font-family: 'Pretendard-Thin';
    display: block;
    text-align: center;
    font-weight: 400;
    font-family: 'Pretendard-Thin';
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.list_img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0vh 5vh;
    margin-bottom: 20px;
}

.favorites {
    display:inline-flex;
    margin-top: 60px;
}


/* page 4 */

.four {
    background-color: #FFF0F5;
    background-size: cover;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 130px;
}

.contact_img {
    width: 100%;
    height: 440px;
    padding-bottom: 0px;
}

.ct {
    margin: 40px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-style: italic;
    
}